@mixin flex($type: space-between, $align: center) {
  display: flex;
  justify-content: $type;
  align-items: $align;
}

@mixin ellipsis($line: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}