* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

li {
  list-style: none;
}

input,
textarea {
  -webkit-touch-callout: inherit;
  user-select: text;
  outline: none;
}

/*在谷歌下移除input[number]的上下箭头*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
/*在firefox下移除input[number]的上下箭头*/
input[type="number"] {
  -moz-appearance: textfield;
}




